body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.publicOffer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.publicOffer_title {
  margin-left: 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #0E0E4B;
}

.publicOffer_content {
  margin-top: 35px;
  width: 100%;
  min-height: 500px;
  /* padding: 15px; */
  background: #FFFFFF;
  box-shadow: 0px 7.94708px 24px -2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.publicOffer_content::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.requirement-wrapper {
  width: 100%;
  /* box-shadow: 0px 7.94708px 24px -2px rgba(0, 0, 0, 0.25);
    border-radius: 31.7883px; */
  padding: 20px 42px;
  margin-bottom: 25px;
  overflow-y: scroll;
  background-color: #F4F8F2;
  height: 450px;
}

.requirement-wrapper-scroll {
  width: 100%;
  height: 1150px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  padding: 60px 80px 60px 120px;
  box-shadow: 0px 7.94708px 24px -2px #aca6a6;
  margin-bottom: 10px;
  /* overflow-y: scroll; */
}

.requirement-wrapper::-webkit-scrollbar {
  width: 17px;
  border-radius: 31px;
}

.requirement-wrapper::-webkit-scrollbar-track {
  background: #0e0e4b;
  border-radius: 31px;
}

.requirement-wrapper::-webkit-scrollbar-thumb {
  background: #fff;
  border: 3.5px solid #0e0e4b;
  border-radius: 31px;
}

.requirement-title-main {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #0e0e4b;
  margin-bottom: 19px;
  margin-top: 14px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.justify_evenly {
  display: flex;
  justify-content: space-between;
}

.justify_evenly div {
  width: 45%;
}

.justify_evenly span {
  display: flex;
  justify-content: center;
  text-align: center;
}

.requirement-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #0e0e4b;
  margin-bottom: 19px;
  margin-top: 14px;
}

.requirement-text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0e0e4b;
  margin-bottom: 12px;
  margin-top: 0;
  text-align: justify;
}

table {
  width: 100%;
  border: 1px solid #000 !important;
}

.span {
  width: 10%;
  border-right: 1px solid #000;
}

h4 {
  font-size: 16px;
}


.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-0pky {
  border-color: inherit;
  text-align: left;
  vertical-align: top
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top
}

.head .d-flex:nth-child(1) {
  border-bottom: 1px solid #000;
}

.head span {
  border-right: 1px solid #000;
  padding: 10px;
}

.head span:last-child {
  border: none;
}
